html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Fira Sans",Helvetica,sans-serif;
    color: #000;
    font-weight: 400;
    background-color: #fff;
}

/* Firefox */
@-moz-document url-prefix() {
  body { 
    font-stretch: condensed;    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

h3 {
    font-size: 18px;
}

p {
    margin: 0 0 25px;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}

@media(min-width: 768px) {
    p {
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 1.6;
    }
}

a {
    color: #fff;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
}


@media(min-width: 768px) {

    #intro {
        height: 100%;
        top-margin: -30px;
    }

.carousel-fade .carousel-inner .item {
      -webkit-transition-property: opacity;
      transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
      opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
      opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
      z-index: 2;
  }

  .carousel,
  .carousel-inner,
  .carousel-inner .item {
      width:100%;
      height: 100%;
      position: absolute;
      background-attachment: fixed;
      background-position-y: 50%;
      background-position-y: 50%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

  .carousel-control {
    width: 8%;
  }

  .carousel-caption {
    width: 50%;
    top: 20%;
    left: 19%
  }

  .caption-container {
  display: inline-block;
  float: left!important;
  padding: 0px 10px;
  width: auto;
  height: auto;
  background-color: rgba(255,255,255,0.7);
}

.caption-color {
  color:#333;
  text-shadow: none;
}


  .item:nth-child(1) {
      background-image: url(../img/title-bg.jpg);
  }
  .item:nth-child(2) {
      background-image: url(../img/title-bg-3.jpg);
  }
  .item:nth-child(3) {
      background-image: url(../img/title-bg-2.jpg);
  }
}

@media(max-width: 991px) {
    .intro, .bcg {
        display: table;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 20px 0px 0px 0px;
        color: #fff;
        background-image: url(../img/title-bg.jpg);
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

.intro-body {
    position: relative;
    color: #fff;
}

.language-menu {
    margin: 10px 0px;
}
.lang-button {
    padding: 15px 0px;
}

.title-background {
    background-color: rgba(200,200,200,0.4);
}

.intro-body .brand-heading {
    text-shadow: 1px 1px 1px #747474;
    font-size: 32px;
}

.intro-body .intro-text {
    font-size: 24px;
    text-shadow: 1px 1px 1px #747474;
    margin-bottom: 10px;
}


@media(min-width: 768px) {

    .intro .intro-body .intro-text {
        font-size: 22px;
    }
}

.module-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 80px 0px 80px;
}

@media(min-width: 992px) {
    .module-icon {
        padding: 10px 100px;
    }
}

@media(max-width: 767px) {
    .copyright {
        display: none};
    }

.copyright {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 16;
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    text-transform: none;
}

.copyright:hover,
.copyright:focus {
    color: #f0ab00;
    text-transform: none;
}

.bodyLink {
    text-decoration: underline;
    color: #000;
}

.bodyLink:hover,
.bodyLink:focus {
    color: #f0ab00;
}

.content-section {
    position: relative;
    padding: 20px 0px;
}   

@media(min-width: 768px) {

        .content-section {
        padding-top: 20px;
    }

    .bodyRow {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.inactive {
    display: none;
}

@media(min-width: 768px) {
    .inactive {
        display: block;
    }
}

footer {
    padding-top: 20px;
    background-color: #eee;
}

footer p {
    margin: 0;
}


.footerTitle {
    color: #000;
    text-align: center;
    padding-bottom: 20px;
}

.footerText {
    color: #747474;
    margin-bottom: 20px;
}
.footerText a {
    color: #000;

}

.footerText a:hover,
.footerText a:focus {
    color: #f0ab00;
}

::-moz-selection {
    text-shadow: none;
    background: rgba(0,100,255,0.2);
}

::selection {
    text-shadow: none;
    background: rgba(0,100,255,0.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

@media(min-width: 768px) {
.btn {
    text-transform: uppercase;
    font-family: "Fira Sans",Helvetica,sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: rgba(200,200,200,0.6);
    padding: 0;
    border: 0;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

}

.btn-default {
    padding: 10px;
    margin: 5px;
}

.btn-default:hover,
.btn-default:focus {
    color: #fff;
    background-color: #f0ab00;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
}

.navbar .navbar-brand {
    color: #3a75c4;
  margin-left: 10px;
  font-weight: 500;
  position: relative;
}

.navbar-subtitle {
  display: none;
  color: #3a75c4;
  font-weight: 200;
  position: absolute;
  padding-bottom: 5px;
}

@media(min-width: 992px) {
  .navbar-brand {
    font-size: 1em;
    padding: 5px 10px;
  }

    .navbar-subtitle {
        display: block;
        font-size: 0.8em;
        padding-top: 7px;
    }
}

.navbar .navbar-toggle {
  margin-right: 20px;
}


@media(min-width: 768px) {
    .navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar .navbar-brand {
        color: #3a75c4;
        font-size: 2em;
        text-transform: none;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar .langButtons {
      float: right!important;
      font-size: 16px;
    }
  }

  .langButtons {
  margin-left: 10px;
}

.navbar {
    text-transform: none;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
    color:#f0ab00;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.module-row {
  top: 50%;
  bottom: auto;
  text-align: center;
}

@media (max-width: 991px) {
  .flag {
    display: none; 
  }
}

.flag {
  max-height:50px;
  margin-top: auto;
  padding-right: 15px;
}

.appIcon {
  padding: 0px 30px;
}

.partnerIcon {
  padding: 0px 60px;
}